
  <%- include ("../partials/header") %>
  <div class="container">
      <div class="row">
        <div class="col-8 main-profile row">
           
        </div>  
    <div class="col-4 username-ist my-5">
        <div class="mx-auto">
                <ul>
        <%user.forEach(function(item){%>
    
               <% if(JSON.stringify(item.username) !== JSON.stringify(currentUser.username)) { %>
                <li class="username" style="cursor:pointer">
                    <%=item.username%>
                </li>
               <%}%> 
         <%})%> 
         </ul>
        </div>
    
    </div>
    </div>
</div>

               
              

<script>
       let textboxes="";
    let username;
    let list="";
    $(".username").on('click',function(){
        //  alert($(this).text())
        username=$(this).text();
        
       <% user.forEach(function(item){%>
        //   alert(typeof(username)+" "+typeof(<%-JSON.stringify(item.username)%>))
         
            if(<%-JSON.stringify(item.username)%> == username.trim()) { 
                $(".main-profile").append("<div><p class='username'>Profile Of  <b>"+<%-JSON.stringify(item.name)%>+"</b></p><div  id="+<%-JSON.stringify(item.username)%>+" class='border p-3' ></div> </div>")
                    <%for(let i=0;i<item.profile.length;i++){%>
                    
                        list+= "<li>  <b>Year</b>  "+<%-JSON.stringify(item["profile"][i].year)%>+"</li>"+
                                "<li> <b>Languages</b>  "+<%-JSON.stringify(item["profile"][i].lang)%>+"</li>"+
                                "<li> <b>Technology</b> "+<%-JSON.stringify(item["profile"][i].tech)%>+"</li>"+
                                "<li> <b>Project (complete)</b> "+<%-JSON.stringify(item["profile"][i].comproject)%>+"</li>"+
                                "<li> <b>(Description)</b>  "+<%-JSON.stringify(item["profile"][i].comprojectdesc)%>+"</li>"+
                                "<li> <b>project (incomplete)</b>   "+<%-JSON.stringify(item["profile"][i].incproject)%>+"</li>"+
                                "<li> <b>(Description)</b>   "+<%-JSON.stringify(item["profile"][i].incprojectdesc)%>+"</li>"+
                                "<li> <b>Coding Platform</b>    "+<%-JSON.stringify(item["profile"][i].codingplat)%>+"</li>"+
                                "<li> <b>Failures</b>   "+<%-JSON.stringify(item["profile"][i].failures)%>+"</li>";
                               
                    <%}%>
                    }
                    console.log("#"+<%-JSON.stringify(item.username)%>)
                    $("#"+<%-JSON.stringify(item.username)%>).append(list);
                                list="";
                            
                    <%})%>
username=$(this).hide();
                   
});

  

</script>
  <%- include ("../partials/footer") %>