
  <%- include ("../partials/header") %>
  <div class="container">
      <div class="row">
        <div class="col-10 main-profile m-auto mt-5 row ">
           
        </div>  
    <div class="col-2 username-ist my-5 ">
        <div class="mx-auto">
                <ul>
        <%user.forEach(function(item){%>
    
               <% if(JSON.stringify(item.username) !== JSON.stringify(currentUser.username)) { %>
                <li class="username" style="cursor:pointer">
                    <%=item.username%>
                </li>
               <%}%> 
         <%})%> 
         </ul>
        </div>
    
    </div>
    </div>
</div>

               
       <style>
           li{
             list-style-type: none;
           }
       </style>       

<script>
       let textboxes="";
    let username;
    let list="";
    $(".username").on('click',function(){
        //  alert($(this).text())
        username=$(this).text();
        
       <% user.forEach(function(item){%>
        //   alert(typeof(username)+" "+typeof(<%-JSON.stringify(item.username)%>))
         
            if(<%-JSON.stringify(item.username)%> == username.trim()) { 
                $(".main-profile").append("<div class=' mt-5 row  w-100 '><h3 class='username col-12'>Profile Of  <b>"+<%-JSON.stringify(item.name)%>+"</b></h3><div id="+<%-JSON.stringify(item.username)%>+" class='col-12 row'> </div></div>")
                    <%for(let i=0;i<item.profile.length;i++){%>
                    
                        list+= "<div class='col-6  p-3 px-2'  ><li style='font-size:1.4rem'>  <b>Year</b>  "+<%-JSON.stringify(item["profile"][i].year)%>+"</li>"+
                                "<li> <b>Languages</b>  "+<%-JSON.stringify(item["profile"][i].lang)%>+"</li>"+
                                "<li> <b>Technology</b> "+<%-JSON.stringify(item["profile"][i].tech)%>+"</li>"+
                                "<li> <b>Project (complete)</b> "+<%-JSON.stringify(item["profile"][i].comproject)%>+"</li>"+
                                "<li> <b>(Description)</b>  "+<%-JSON.stringify(item["profile"][i].comprojectdesc)%>+"</li>"+
                                "<li> <b>project (incomplete)</b>   "+<%-JSON.stringify(item["profile"][i].incproject)%>+"</li>"+
                                "<li> <b>(Description)</b>   "+<%-JSON.stringify(item["profile"][i].incprojectdesc)%>+"</li>"+
                                "<li> <b>Coding Platform</b>    "+<%-JSON.stringify(item["profile"][i].codingplat)%>+"</li>"+
                                "<li> <b>Failures</b>   "+<%-JSON.stringify(item["profile"][i].failures)%>+"</li></div>";
                               
                    <%}%>
                    }
                    console.log("#"+<%-JSON.stringify(item.username)%>)
                    $("#"+<%-JSON.stringify(item.username)%>).append(list);
                                list="";
                            
                    <%})%>
username=$(this).hide();
                   
});

  

</script>
  <%- include ("../partials/footer") %>