<%- include ("../partials/header") %>

<h1>profile</h1>
<div class="container">
    <% profile.forEach(function(profile){ %>
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Header</div>
            <div class="card-body text-success">
                <!-- <h5 class="card-title"></h5> -->
                <p class="card-text"><%= profile.lang %></p>
                <p class="card-text"><%= profile.tech %></p>
                <p class="card-text"><%= profile.comproject %></p>
                <p class="card-text"><%= profile.comprojectdesc %></p>
                <p class="card-text"><%= profile.incproject %></p>
                <p class="card-text"><%= profile.incprojectdesc %></p>
                <p class="card-text"><%= profile.codingplat %></p>
                <p class="card-text"><%= profile.failures %></p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
          </div>
    <% }); %>
</div>

<a href="/gallery">Go Back</a>

<%- include ("../partials/footer") %>