  <%- include ("../partials/header") %>

  <div class="container">
    <div class="row">
      <h1 class="display-4 my-4 col-12 text-center">Posts</h1>
      <div class="col-md-6 m-auto">
        
            <form action="/posts" method="POST" enctype="multipart/form-data">
                  <div class="form-group mt-5">
                    <input type="file" name="file" id="file" class="form-control-file ">
                  </div>
                  <input type="submit" value="Submit" class="btn btn-secondary btn-block w-25">
          </form>
          <hr>
            <% if(files){ %>
          <% files.slice().reverse().forEach(function(file) { %>
            <div class="card card-body mb-5" style="height:50vh">
              <% if(file.isImage) { %>
                   <% if(file.contentType=="video/mp4") {%>

                           <video width="500" height="300" controls>
                              <source src="image/<%= file.filename %>" type="video/mp4" >
                            </video>

                   <%}%>
                <embed src="image/<%= file.filename %>" alt="..." width="500" height="300">
                <% } else { %>
                  <%= file.filename %>
                    <% } %>
                   
            </div>
            <% }) %>
              <% } else { %>
                <p>No files to show</p>
                <% } %>
           
      </div>   
      </div>
     </div>



  <%- include ("../partials/footer") %>